/*iPad 及以下，所有小于（不等于）960宽度的平板电脑*/
@media screen and (max-width:959px) {
#content{padding-top:10px;_padding-top:0px}
p#image-container{width:100%;}
p#image-container img{max-width: 100%;height:auto;}
#footer{background:#fff;}
#footer .footer_img{display:block;}

}

/*Note2，Galaxy 3 及以下，所有小于（不等于）768宽度的平板电脑*/
@media screen and (max-width:767px) {
div.hidden, #content2, #footer, #steps{
    display: none!important;
	margin:0;
	padding:0;
}
#content{padding-top:5px;_padding-top:0px;}

p#image-container{width:100%;}
p#image-container img{max-width: 100%;height:auto;}

#main_content{width:95%;margin:0 auto;}
#main_content article{float:none;}
#content1{width:95%;height:auto;margin:5px auto;}
#content1 h2{
    padding:10px 0 10px 0;
	margin:0;
	font-size:18px;
	font-weight: bold;
}
#content4{width:95%;}
#content4 p{margin-top: 15px;font-size:1.3em;}
#content5{width:98%;}

p#error{
	font-weight:bold;
	font-size:1.2em;
	padding:0;
	margin:0;
}
a{
	color:#0066FF;
}
div.mobile{display:block;}
#submit{
	padding: 15px 28px; 
	width: 80%; 
	margin:0px auto;
}
p#connect_button, p#recharge_button{
	margin:5px auto;
}
p#instruction_image{
	text-align:center;
}

#topup_button2,#topup_button3{
	width: 80%; 
	font-size: 1.2em;
}
#topup_button, #topup_button1{
	width: 85%; 
	font-size: 1.6em;
}
#left_text{
	text-align:left;
	line-height:22px;
	margin:10px 0 20px 0;
	font-size:1.2em;
}
#left_text ol li{
    margin: 0 0 5px 22px;
}
table.tabula td {font-size: 1.2em; padding: 4px 2px;}


}

@media screen and (max-width:479px) {
	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
}
